name: Publish ceph images

on:
  workflow_dispatch:
  push:
    branches: 
      - main
    paths:
    - .github/workflows/main.yml
    - docker/ceph/aws/aws-cli-configure.sh
    - 'docker/ceph/**/Dockerfile'
    - docker/ceph/rpm/set-ceph-repo.sh
  pull_request:
    branches:
      - main
    paths:
    - .github/workflows/main.yml
    - docker/ceph/aws/aws-cli-configure.sh
    - 'docker/ceph/**/Dockerfile'
    - docker/ceph/rpm/set-ceph-repo.sh
  schedule:
    - cron:  '0 2 * * *'

jobs:
  build-ceph-base:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [centos_stream9]
        include:
          - os: centos_stream9
            centos_version: 9
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Build
      run: docker build -t docker.io/rhcsdashboard/ceph-base:${{ matrix.os }} -f docker/ceph/centos/Dockerfile ./docker/ceph
    - name: Push
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
        docker push docker.io/rhcsdashboard/ceph-base:${{ matrix.os }}
        docker logout
  build-ceph:
    needs: build-ceph-base
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch: [main, squid, reef, quincy, pacific]
        name: [ceph, ceph-rpm]
        include:
          - centos_version: 9
          - name: ceph
            dir: ceph
          - name: ceph-rpm
            dir: ceph/rpm
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Build
      run: docker build -t docker.io/rhcsdashboard/${{ matrix.name }}:${{ matrix.branch }} -f docker/${{ matrix.dir }}/${{ matrix.branch_dir}}/Dockerfile ./docker/ceph --build-arg CEPH_RELEASE=${{ matrix.branch }} --build-arg VCS_BRANCH=${{ matrix.branch }} --build-arg CENTOS_VERSION=${{ matrix.centos_version }}
    - name: Push
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
        docker push docker.io/rhcsdashboard/${{ matrix.name }}:${{ matrix.branch }}
        docker logout
  build-ceph-e2e:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch: [main, squid, reef, quincy, pacific]
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Build
      run: docker build -t docker.io/rhcsdashboard/ceph-e2e:${{ matrix.branch }} -f docker/ceph/e2e/Dockerfile ./docker/ceph --build-arg VCS_BRANCH=${{ matrix.branch }}
    - name: Push
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
        docker push docker.io/rhcsdashboard/ceph-e2e:${{ matrix.branch }}
        docker logout
